<!DOCTYPE html>
<html lang='eng'>
    <head>
        <meta charset="utf-8">
        <title>
            Open Source Tools - Final Project
        </title>
        <link type="text/css" rel="stylesheet" href="static/stylesheet.css" /> 
        <link type="text/css" rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    </head>
    <body>
    <div>
        <div class="header"> 
            <span style="font-size:2em"> 
                ARRS - 
            </span>
            <span class="arco" style="font-size:1.5em">
                {% if user and user.username %}
                    Welcome {{user.username}}
                {% else %}
                    IT'S ALIVE
                {% endif %}
            </span>
            <nav class="NavBar">
                {% if user and user.username %}
                    <a href="userlogout.html"> Logout </a>
                    <a href="userpage.html"> My Site </a>
                    <a href="createresource.html"> Create New Resource </a>
                    <!--
                    <a href="reservations.html"> Reservations </a>
                    -->
                    <a href="DEVprint.html"> Developer Page </a>
                {% else %}
                    <a href="userlogin.html"> Login </a>
                    <a href="signup.html"> Sign Up </a>
                {% endif %}
            </nav>
        </div>
    </div>
    </body> 
    <div class="ContainerSection">
        {% block content %}
        {% endblock %}
    </div>
</html>