<!DOCTYPE html>
<html lang='eng'>
    <head>
        <meta charset="utf-8">
        <title>
            Open Source Tools - Final Project
        </title>
        <link type="text/css" rel="stylesheet" href="static/stylesheet.css" /> 
        <link type="text/css" rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    </head>
    <body>
    <div>
        <div class="header"> 
            <p>
                <span style="font-size:2em"> 
                        ARRS - 
                </span>
                <span class="arco" style="font-size:1.5em">
                    IT'S ALIVE
                </span>
            </p>
            {% if user and user.username%}
            <p>
                {{user.username}}
            </p>
            {% endif %}
        </div>
        <center>
        <div>
            <nav class="navbar navbar-default">
                {% if user and user.username %}
                <a href="userlogout.html"> Logout </a>
                {% else %}
                <a href="userlogin.html"> Login </a>
                {% endif %}
                <a href="signup.html"> Sign Up </a>
                <a href="users.html"> Users </a>
                <a href="resources.html"> Resources </a>
                <a href="reservations.html"> Reservations </a>
            </nav>
        </div> 
        </center>
        </div>
    </body> 
<div class="containerTest">
{% block content %}{% endblock %}
</div>
</html>