<!DOCTYPE html>
<html lang='eng'>
    <head>
        <meta charset="utf-8">
        <title>
            Open Source Tools - Final Project
        </title>
        <link type="text/css" rel="stylesheet" href="static/stylesheet.css" /> 
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <div>
        <div class="header"> 
            <p>
                <span style="font-size:2em"> 
                        ARRS - 
                </span>
                <span class="arco" style="font-size:1.5em">
                    A Resource Reservation System ITs alive
                </span>
            </p>
        </div>
        <center>
        <div>
            <nav class="navbar navbar-default">
                <a href="p1.html"> Login </a>
                <a href="p1.html"> Link1 </a>
                <a href="p1.html"> Link2 </a>
                <a href="p1.html"> Link3 </a>
            </nav>
        </div> 
        </center>
        </div>
    </body> 
</html>