{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
    <head>
        <meta charset="utf-8">
        <title>
            ARRS - Reservations
        </title>
        <link type="text/css" rel="stylesheet" href="static/stylesheet.css" />
         
        <link type="text/css" rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    </head>
    <body>
    <p> Reservation: </p>
    {% for reservation in reservations %}
        <li> {{reservation.name}}</li>
        <li> {{reservation.email}}</li>
        <li> {{reservation.password}}</li>
    {% endfor %}
    </body>
{% endblock %}