{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
    <head>
        <meta charset="utf-8">
        <title>
            ARRS - Resources
        </title>
        <link type="text/css" rel="stylesheet" href="static/stylesheet.css" />
         
        <link type="text/css" rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    </head>
    <body>
    <p> Resources: </p>
    {% for resource in resources %}
        <li> {{resource.name}}</li>
        <li> {{resource.email}}</li>
        <li> {{resource.password}}</li>
    {% endfor %}
    </body>
{% endblock %}