{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
    {% if user and user.username %}
        <span class="userpageinfoHeader">
        Your Upcoming Reservations <br>
        </span>
        {% if userReservations %}
        <table class="userpage">
            <tr>
                <th> Resource Name </th>
                <th> Owner </th>
                <th> Hours </th>
                <th> Date </th> 
                <th> Start Time </th>
                <th> Duration </th>
                <th> </th>
            </tr>

            {% for res in userReservations %}
            <tr> 
                <td> <a href="viewresource?rid={{res.resource.id}}"> {{ res.resource.name }} </a> </td>
                <td> </td>
                <td> </td>
                <td> {{ res.date }} </td>
                <td> {{ res.start }} </td> 
                <td> {{ res.duration }}</td>
                <td> <a href="cancelreservation?rid={{res.id}}"> Cancel? </a> </td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
            You have no Reservations 
        {% endif %}
        <br>

        <span class="userpageinfoHeader"> 
        Available Resources <br>
        </span>
        {% if resources %}
        
        <table class="userpage">
            <tr>
                <th> Resource Name </th>
                <th> Owner </th>
                <th> Hours </th>
                <th> Date </th> 
                <th> Start Time </th>
                <th> End Time </th>
                <th> </th>
            </tr>
            {% for res in resources %}
            <tr> 
                <td> <a href="viewresource?rid={{res.id}}"> {{ res.name }} </a> </td>
                <td> {{ res.owner }} </td>
                <td> {{ res.start }} - {{ res.end }}</td> 
                <td> </td>
                <td> </td>
                <td> </td>
                <td> <a href="viewresource?rid={{res.id}}"> Reserve </a> </td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
        No Resources available
        {% endif %}
        <br>
        
        <span class="userpageinfoHeader"> 
        Your Resources <br>
        </span>
        {% if userResources %}
        <table class="userpage">
            <tr>
                <th> Resource Name </th>
                <th> Owner </th>
                <th> Hours </th>
                <th> Date </th> 
                <th> Start Time </th>
                <th> End Time </th>
                <th> </th>
            </tr>
            {% for res in userResources %}
            <tr> 
                <td> <a href="viewresource?rid={{res.id}}"> {{ res.name }} </a> </td>
                <td> {{ res.owner }} </td>
                <td> {{ res.start }} - {{ res.end }}</td> 
                <td> </td>
                <td> </td>
                <td> </td>
                <td> <a href="viewresource?rid={{res.id}}"> Modify </a> </td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
        You Own No Resources
        {% endif %}
        <br>
    {% endif %}
{% endblock %}