{% extends 'index.html' %}
{% block content %}
<span class="userpageinfoHeader"> 
  Tag Overview: {{ tag }}
</span>
    {% if tags %}
      <table class="userpage">
        <tr>
          <th> Resource Name </th>
          <th> Owner </th> 
          <th> Availbilty Hours </th>
          <th> RSS </th>
        </tr>
        {% for res in tags %}
        <tr> 
          <td> 
            <a href="viewresource?rid={{res.id}}"> {{ res.name }} </a>
          </td>
          <td> {{ res.owner }} </td>
          <td> {{ res.start }} - {{ res.end }}</td>
          <td> <a href=rss?rid={{resource.id}}> RSS  </a> </td>
        </tr>
        {% endfor %}
      </table> <br>
    {% else %}
    No Availble resources under this tag
    {% endif %}
{% endblock %}
