{% extends 'index.html' %}
{% block content %}
<span class="userpageinfoHeader"> 
  Resource Overview 
</span>
    {% if resource %}
      <table class="resource">
        <tr>
          <th> Name </th>
          <th> Owner </th> 
          <th> Hours </th>
        </tr>
        <tr> 
          <td> {{ resource.name }} </td>
          <td> {{ resource.owner }} </td>
          <td> {{ resource.start }} - {{ resource.end }}</td>
        </tr>
      </table> <br>
      <div style="width: 90%; margin-left: auto; margin-right: auto;">
      {% if tags %}
      {% for tag in tags %}
      <a href=viewtags?tag={{tag}}> #{{tag}} </a>
      {% endfor %}
      {% endif %}
      <br>
      <br>
      <div class="formBox">
        {% if form %}
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                  <p style="color: red">
                    {{ error }}
                  </p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">
              Make Reservation
            </button>
          </form>
        {% endif %}
      </div>
      {% else %}
        Resource does not exist
      {% endif %}
      <div class="formBox">
        {% if modify %}
          <form method = "post">
            {% csrf_token %}
            {% for field in modify %}
              <p>
                {{ field.label_tag }}
                <br>
                {{ field }}
                {% for error in field.errors %}
                  <p style="color: red">
                    {{ error }}
                  </p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">
              Update Information
            </button>
          </form>
        {% endif %}
      </div>
      </div>
{% endblock %}
