@import url(http://fonts.googleapis.com/css?family=Lato);

body {
    font-family: 'Lato-light', Verdana, Helvetica, sans-serif;
    width: 90%
    height: 100%;
}

div.header {
    font-family: 'Lato';
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background: #d9d9d9;
    width: 80%

    color: black;
}

span.arco {
    font-family: 'Lato-italic';
}

span.userpageinfoHeader {
    font-family: 'Lato-italic';
    font-size: 1.25em;
    color: #000000;
}

div.ContainerSection {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 500px;
    background: #d9d9d9;
}

nav.NavBar {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
nav.NavBar a {
    float: left;
    text-align: center;
    padding: 10px 10px 10px 0px;
    display: block;
}

table.userpage {
    table-layout:fixed;
    margin-right: auto;
    margin-left: auto;
    width:90%;
    overflow:hidden;
    word-wrap: break-word;
}

th {
    border-bottom: 1px solid #000000;
}

table.resource {
    table-layout:fixed;
    margin-right: auto;
    margin-left: auto;
    width:90%;
    overflow:hidden;
    word-wrap: break-word;
}

div.formBox {
    display: inline-block; 
    min-width:200px; 
    vertical-align:top;
}
